<!-- entry Modals -->
{% for entry in site.entries %}
{% assign filename = item.url | replace_first: '/', '' | replace: 'entries/' , '' | replace: '_', '-'  | replace: '.html', '' %}
<div class="portfolio-modal modal fade" id="e{{ filename }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h3 class="text-uppercase">{{ entry.title }}</h3>
                <p>Date: {{ entry.edate }}</p>
                <p>{{ entry.content }}</p>	
                
                <div>
                <p> </p>	
              </div>

                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  "Close"</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endfor %}
<!-- End entry Modals -->