<div class="under-text">
    <p><strong>h-index: </strong>{{ site.data.basic.metrics.hindex }}. <strong>Citations: </strong>{{
        site.data.basic.metrics.citations }}. As of: {{ site.data.basic.metrics.date }}. <a
            href="https://scholar.google.com/citations?user=Gw3sPAUAAAAJ&hl=en"><i
                class="ai ai-google-scholar-square noprint"></i>Profile</a></p>
    <table id="h-index"></table>

</div>
<iframe id="publications" class="publications" style="overflow: hidden;" src="{{ site.data.basic.main.lucris }}"
    width="100%" height="300" allowtransparency="true" frameborder="0">
</iframe>