<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="assets/js/main.js"></script>
  <title>{{ site.data.basic.main.title }}</title>
  <link href="assets/css/main.css" rel="stylesheet">
  <link href="assets/css/code.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
    </style>
  <link href="assets/css/all.min.css" rel="stylesheet" type="text/css">
</head>

<body id="page-top">
  <div class="page-content">  

    {% include basicinfo.html %}

    <div id="container">
      
      <a class = "profile home-button" href="/phd_thesis">My PhD Thesis Defense on 2023.02.13</a>
      
      <a class = "profile home-button" href="/portfolio">My PhD Portfolio</a>
          
      <a class = "profile home-button" href="/CV">My Scientific CV</a>

    </div>

  </div>
</body>

</html>